<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body style="width: 100%; height: 100%; padding: 0; margin: 0;">
    <div style="background-color: blueviolet; height: 50px; width: 100%">
        <span style=" font-size: 30px; color: white; padding: 15px;">MyBand</span>
        <span><a href="/users/logout">Logout</a></span>
    </div>
    <br>
    <br>
    <form action="/bands/create" method="POST">
        Band Name: <input type="text" name="name"> <br>
        <input type="submit" value="Add Band">
    </form>

    <br>
    <br><br>
    <br>
    <tbody>
        {{#bands}}
        <tr>
            <td>{{name}}
                <form action="/bands/edit/{{id}}" method="PATCH">
                    <button type="Submit">Edit</button>
                </form>
                <form action="/bands/{{id}}" method="POST">
                    <button type="Submit" name="Delete">Delete</button>
                </form>
            </td>
            <br>
        </tr>
        {{/bands}}
    </tbody>
</body>

</html>